

<div id="título">
Smada Visualization
</div>

<div id="links">


<a href=smada/index>
Data Smada
</a>
<br>

<a href=smada/last_hours>
Data Smada (last 6 hours)
</a>
<br>

<a href=smada/maps>
Data Smada (now inside a map!)
</a>
<br>

<a href=http://nedel.cloudapp.net/graph/index.php?tipo=end_device&id_end_device=555&id_sensor=10&periodo=4>
    CO sensor
</a>
<br>


</div>
<!--
<form>


<section>
<div id ="username">
<h1>Username: <input type="text" name="userid"/></h1>
</div>

<div id ="username">
<h1>Password: <input type="password" name="pswrd"/></h1>
</div>
</section>

<input type="button" onclick="check(this.form)" value="Login"/>
<input type="reset" value="Cancel"/>
</form>
<script language="javascript">
function check(form)/*function to check userid & password*/
{
 /*the following code checkes whether the entered userid and password are matching*/
 //if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd")
  //{
    window.open('https://jawbone.com/auth/oauth2/auth/response_type=code')/*opens the target page while Id & password matches*/
  //}
 //else
 //{
  // alert("Error Password or Username")/*displays error message*/
  //}
}
-->
