h1 Smada#Últimas 6 horas

- @dados.each_with_index do |sensor_data, index|
  div[class="smada-dados-#{index}" data-info="#{sensor_data.to_json}"]
  div[class="sensors" data-name="#{@sensorName.to_json}"]
  javascript:
    var idx = "#{index}";
    var xaxis = ['x'];
    

    var data = $(".smada-dados-" + idx).data("info");
    var sensorType = $(".sensors").data("name");
    for (var i = 0, len = sensorType.length; i < len; i++) {
      if (sensorType[i]['id_end_device'] == data[0]['id_end_device'] && sensorType[i]['id_sensor'] == data[0]['id_sensor']){
        var yaxis = ['id_end_device: ' + data[0]['id_end_device'] + ' || id_sensor: ' + data[0]['id_sensor'] +  ' || sensor type: ' + sensorType[i]['sensor_name']];
        var type = sensorType[i]['sensor_name'];
        break;
        }
    }
    data.forEach(function(d) {
      console.log(d['timestamp']);
      date = new Date(d['timestamp']);
      date.setHours(date.getHours()+2);
      xaxis.push(date);
      yaxis.push(+d['payload']);
    });
    for (var i = 0, len = yaxis.length; i < len; i++) {
      switch (type){
        case 'velocidade do vento':
          if (yaxis[i] < 0 || yaxis > 200){
            yaxis.splice(i,1);
            xaxis.splice(i,1);
            console.log("retirei velocidade vento")
          }
        case 'temperatura':
          if (yaxis[i] < -30 || yaxis > 80){
            yaxis.splice(i,1);
            xaxis.splice(i,1);
            console.log("retirei temperatura")
          }
          /*
        case 'chuva':
          if (yaxis[i] < -30 || yaxis > 80){
            yaxis.splice(i,1);
            xaxis.splice(i,1);
            console.log("retirei chuva")
          }
          */
        case 'luminosidade':
          if (yaxis[i] < 0 || yaxis > 16){
            yaxis.splice(i,1);
            xaxis.splice(i,1);
            console.log("retirei luminosidade")
          }
        case 'Umidade':
          if (yaxis[i] < 0 || yaxis > 100){
            yaxis.splice(i,1);
            xaxis.splice(i,1);
            console.log("retirei Umidade")
          }
        case 'Pressao atmosferica':
          if (yaxis[i] < 950000 || yaxis > 110000){
            yaxis.splice(i,1);
            xaxis.splice(i,1);
            console.log("retirei Pressao atmosferica")
          }
        case 'direcao do vento':
          if (yaxis[i] < 0 || yaxis > 359){
            yaxis.splice(i,1);
            xaxis.splice(i,1);
            console.log("retirei direcao do vento")
          }
      }
    }

    var chart = c3.generate({
      bindto: d3.select(".smada-dados-" + idx),
      size: {
        height: 180,
        width: 4320
      },
      data: {
        x: 'x',
        columns: [xaxis, yaxis],
        type: 'area'
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%d/%m/%y - %H:%M'
          }
        }
      }
    });
