h1 Smada#Últimas 6 horas
= @sensorId.all
- @dados.each_with_index do |sensor_data, index|
  div[position: relative class="smada-dados-#{index}" data-info="#{sensor_data.to_json}"]
  javascript:
    var idx = "#{index}";
    var xaxis = ['x'];
    

    var data = $(".smada-dados-" + idx).data("info");
    var yaxis = ['id_sensor: ' + data[0]['id_sensor'] + ' || id_end_device: ' + data[0]['id_end_device']];
    data.forEach(function(d) {
      xaxis.push(new Date(d['timestamp']));
      yaxis.push(+d['payload']);
    });

    var chart = c3.generate({
      bindto: d3.select(".smada-dados-" + idx),
      size: {
        height: 180,
        width: 4320
      },
      data: {
        x: 'x',
        columns: [xaxis, yaxis],
        type: 'area'
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%d/%m/%y - %H:%M'
          }
        }
      }
    });
